.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/assets/images/loginBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100vh;
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
    height: auto;
    .form {
        width: 100%;
        .form-field {
            width: 100%;
        }
    }

    h1 {
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: #555;
      }

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;

        &:focus {
          border-color: #007bff;
          outline: none;
          box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
      }
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: white;
      border-radius: 5px;
      border: none;
      font-size: 16px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
