.card-container {
    padding: 5px;
}


.button-container {
  padding-bottom: 16px;
  padding-right: 16px;
    display: flex;
    justify-content: flex-end;
}

.demo-button + .demo-button {
  margin-left: 8px;
}